$unhighlighted-nav-card-bg-width: 20em;
$highlighted-nav-card-bg-width: 18em;
$highlighted-nav-card-padding: 0.5em;
$unhighlighted-nav-card-padding: 0.7em;

$highlighted-nav-card-height: 29em;
$highlighted-nav-card-width: 20em;
$unhighlighted-nav-card-height: 28em;
$unhighlighted-nav-card-width: 19em;

$animation-quotient: 1;

$nav-card-color: #484848;

$page-background-color: white;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.note-node {
  margin-left: 1em;
}

.note-editor {
  height: 30em;
}

.note-editor .tools {
  width: 100%;
  font-size: 3em;
  height: 2em;
  padding: 0.25em;
  background-color: #ffe;
  position: absolute;
  bottom: 0;
}

.note-editor > .tools > .button {
  width: 1em;
  height: 1em;
  float: left;
  margin-right: 0.25em;
  background-color: black;
}

.note-node > input {
  border: 4px solid transparent;
  background-color: transparent;
  width: 100%;
}

.note-node input:focus {
  outline: none;
}

.note-node:has(> input:focus) {
  background-color: rgba(255,127,127,0.2);
}

.note-node > input:focus {
  border: 3px dashed rgba(255,127,127,0.2);
  box-sizing: border-box;
}

.root-node > input {
  font-size: 3em;
}

.root-node .note-node:has(.note-node) > input {
  font-size: 1.5em;
}

@keyframes highlight-navigation-card {
  from {
    height: $unhighlighted-nav-card-height;
    width: $unhighlighted-nav-card-width;
    background-size: $unhighlighted-nav-card-bg-width auto;
    padding: $unhighlighted-nav-card-padding;
  }

  to {
    height: $highlighted-nav-card-height;
    width: $highlighted-nav-card-width;
    background-size: $highlighted-nav-card-bg-width auto;
    padding: $highlighted-nav-card-padding;
  }
}

@keyframes highlight-navigation-card-image {
  from {
    background-size: $unhighlighted-nav-card-bg-width auto;
    height: $unhighlighted-nav-card-width - 2*$unhighlighted-nav-card-padding;
    width: $unhighlighted-nav-card-width - 2*$unhighlighted-nav-card-padding; 
  }

  to {
    background-size: $highlighted-nav-card-bg-width auto;
    height: $highlighted-nav-card-width - 2*$highlighted-nav-card-padding;
    width: $highlighted-nav-card-width - 2*$highlighted-nav-card-padding; 
  }
}


@keyframes unhighlight-navigation-card {
  to {
    height: $unhighlighted-nav-card-height;
    width: $unhighlighted-nav-card-width;
    background-size: $unhighlighted-nav-card-bg-width auto;
    padding: $unhighlighted-nav-card-padding;
  }

  from {
    height: $highlighted-nav-card-height;
    width: $highlighted-nav-card-width;
    background-size: $highlighted-nav-card-bg-width auto;
    padding: $highlighted-nav-card-padding;
  }
}

@keyframes unhighlight-navigation-card-image {
  to {
    background-size: $unhighlighted-nav-card-bg-width auto;
    height: $unhighlighted-nav-card-width - 2*$unhighlighted-nav-card-padding;
    width: $unhighlighted-nav-card-width - 2*$unhighlighted-nav-card-padding; 
  }

  from {
    background-size: $highlighted-nav-card-bg-width auto;
    height: $highlighted-nav-card-width - 2*$highlighted-nav-card-padding;
    width: $highlighted-nav-card-width - 2*$highlighted-nav-card-padding; 
  }
}

* {
  box-sizing: border-box;
}

.app {
  padding-top: 1px;
  background-color: $page-background-color;
  height: 100em;

  .app-body {
    height: 80em;
    width: 41em;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  text-decoration: none !important;
}

.navigation-card {
  border-radius: 5px 5px;
  background-color: $nav-card-color;
  height: $unhighlighted-nav-card-height;
  width: $unhighlighted-nav-card-width;
  margin: 0.5em;
  float: left;
  animation-name: unhighlight-navigation-card;
  animation-duration: 0.3s * $animation-quotient;;
  cursor: pointer;
  color: white;
  padding: $unhighlighted-nav-card-padding;

  .image {
    height: $unhighlighted-nav-card-width - 2*$unhighlighted-nav-card-padding;
    width: $unhighlighted-nav-card-width - 2*$unhighlighted-nav-card-padding;
    background-position: center;
    background-size: $unhighlighted-nav-card-bg-width auto;
    background-repeat: no-repeat;
    background-color: black;
    animation-name: unhighlight-navigation-card-image;
    animation-duration: 0.3s * $animation-quotient;;
  }

  .text {
    padding-left: $unhighlighted-nav-card-padding;
    padding-right: $unhighlighted-nav-card-padding;

    .title {
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 1.2em;
      color: white;
    }

    .caption {
      font-size: 0.8em;
      color: white;
      opacity: 0.8;
    }
  }

  &:hover {
    height: $highlighted-nav-card-height;
    width: $highlighted-nav-card-width;
    animation-name: highlight-navigation-card;
    animation-duration: 0.3s * $animation-quotient;
    padding: $highlighted-nav-card-padding;

    .image {
      height: $highlighted-nav-card-width - 2*$highlighted-nav-card-padding;
      width: $highlighted-nav-card-width - 2*$highlighted-nav-card-padding;
      background-position: center;
      background-size: $highlighted-nav-card-bg-width auto;
      background-repeat: no-repeat;
      background-color: black;
      animation-name: highlight-navigation-card-image;
      animation-duration: 0.3s * $animation-quotient;;
    }
  }
}

.header-bar {
  width: 100%;
  height: 8em;
  background-image: url(../public/teacup.png);
  background-position: center;
  background-size: auto 80%;
  background-repeat: no-repeat;
}